.link {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
    text-decoration: none;
    cursor: pointer;

    &:hover, &:focus, &:active {
        outline: none;
        text-decoration: underline;
    }

    &:before {
        content: '';
        position: absolute;
        display: block;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
  }